.backColor{
    color: rgb(216, 216, 216);
    background-color: rgb(216, 216, 216);;
    border-radius: 20px;
    width: auto;
    padding: 50px;
    margin: 20px;
}
.txt{
    color: black;
}
.custom_card{
    padding: 50px;
    margin: 20px;
    width: auto;
    border-radius: 20px;
}
.data_card{
    padding-top: 5px;
    padding-left: 20px;
    margin: 20px;
    margin-top: 2px;
    width: auto;
    border-radius: 20px;
}

